<%= simple_form_for expense, html: { class: "expense form" } do |f| %>
  <% if expense.errors.any? %>
    <div class="error-message">
      <%= expense.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.select :expense_type, Expense.expense_types.keys.map{ |type| [type.titleize, type] }, { include_blank: 'All categories' }, { class: "form-control" } %>
  <%= f.input :value, input_html: { autofocus: true }, label: 'Value' %>
  <%= f.input :description, label: 'Description' %>
  <%= link_to "Cancel", expenses_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>