<h1>Report</h1>
<div class="columns">
  <div class="boxes">
    <div class="form__block">
      <%= render partial: 'search_form' %>
      <%= render partial: 'form_for_share' %>
    </div>
  </div>
  <main class="container">
    <div>
      <div class="expense__title">
        <div style="width: 140px">
          Expense Type
        </div>
        <div style="width: 100px">
          Value
        </div>
        <div>
          Description
        </div>
      </div>
      <%= turbo_frame_tag 'expenses' do %>
        <%= render @expenses %>
      <% end %>

      <%= will_paginate @expenses %>
    </div>
  </main>
</div>
